@import 'src/shared/config/styles/variables.module';

.alignCenter {
  text-align: center;
}

.gameContainer {
  margin-top: 2vh;

  display: flex;
  justify-content: center;
}

.gameController {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

